<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
            id="menu_gestion_root"
            name="Gestion de Projet"
            sequence="0"/>
    <menuitem
            id="menu_employee_master"
            name="Employee Details"
            parent="menu_gestion_root"
            sequence="0"/>
    <menuitem
            id="menu_employee"
            name="Employee"
            parent="menu_employee_master"
            action="action_gestion_employee"
            sequence="0"/>


</odoo>